<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">BloodHelp</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"
          >Home
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
    </ul>
    <% if (isAuthenticated){ %>
    <ul class="navbar-nav">
      <li>
        <!-- <form
          class="form-inline my-2 my-lg-0"
          action="/search/?page=1"
          method="GET"
        >
          <input
            name="search"
            class="form-control mr-sm-2"
            type="search"
            placeholder="use exact value"
            aria-label="Search By group"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search By Group
          </button>
        </form> -->
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButtonForSearch"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Search By bloodGroup
          </button>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButtonForSearch"
          >
            <a class="dropdown-item" href="/search?search=A%2B">A+</a>
            <a class="dropdown-item" href="/search?search=A-">A-</a>
            <a class="dropdown-item" href="/search?search=B%2B">B+</a>
            <a class="dropdown-item" href="/search?search=B-">B-</a>
            <a class="dropdown-item" href="/search?search=O%2B">O+</a>
            <a class="dropdown-item" href="/search?search=O-">O-</a>
            <a class="dropdown-item" href="/search?search=AB%2B">AB+</a>
            <a class="dropdown-item" href="/search?search=AB-">AB-</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
      </li>
    </ul>

    <% } %> <% if(!isAuthenticated){ %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">signup</a>
      </li>
    </ul>
    <%} %>
  </div>
</nav>
