<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Blood Help:</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="" /> -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <link rel="stylesheet" href="/css/index.css" />
  <body>
    <% include ./includes/navigation.ejs %> <% if(!isAuthenticated) {%>
    <div class="container">
      <img src="/images/image.jpg" alt="slogan" class="image" />
      <br />
      <br />
      <h4 class="text-center">Welcome to blood Help!</h4>
      <p class="text">
        Join to help other for blood
        <br />

        <a href="/login" class="btn btn-primary">login</a>

        or

        <a href="/signup" class="btn btn-primary">Signup</a>
      </p>
    </div>

    <% } %> <% if(isAuthenticated) {%>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script type="text/javascript" src="/js/index.js"></script>
    <div class="text">
      <br />
      <h4>Want Help?</h4>
      <br />
      -> Hop over to the Search bar and search for blood group
    </div>
    <%} %>
  </body>
</html>
