<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/login.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% include ./includes/navigation.ejs %>
    <div class="container">
      <div class="loginContainer">
        <header class="text-center"><h4>Login</h4></header>
        <br />
        <form method="POST" action="/login">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              required
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              required
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              name="password"
            />
          </div>
          <div id="message">
            <% if(error) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
            <% } %>
          </div>
          <button type="submit" class="btn btn-primary">login</button>
          <br />
          Don't have an account?
          <a class="btn btn-primary text-right" href="/signUp">Signup</a>
        </form>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
